@using System.Data;
@using WebApplication.Library;

@{
    ViewBag.Title = "Data User";
    string BaseURL = System.Configuration.ConfigurationManager.AppSettings["BaseURL"];
    DataRowCollection ListDataUser = (DataRowCollection)ViewData["ListDataUser"];
}
<div class="mb-4">
    <a href="@Url.Action("Create", "UserManagement", new {Area = "Master"})" class="btn btn-primary btn-icon-split" @*data-toggle="modal" data-target="#modal"*@>
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Add User</span>
    </a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Data User</h6>
        <a href="@Url.Action("GenerateReport", "Report", new {Area = "Reports"})" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dt-responsive nowrap" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        if (ListDataUser != null && ListDataUser.Count > 0)
                        {
                            foreach (DataRow data in ListDataUser)
                            {
                                <tr>
                                    <td>@data["FirstName"]&nbsp;@data["LastName"]</td>
                                    <td>@data["Username"]</td>
                                    <td>@data["RoleName"]</td>
                                    <td>@data["Email"]</td>
                                    <td>@data["PhoneNumber"]</td>
                                    <td align="center">
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "UserManagement", new {
                                                Area = "Master",
                                                UserID = data["UserID"].ToString()})"
                                           @*data-toggle="modal"
                                           data-target="#modalEdit"
                                           data-ajax="true"*@>
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

